@charset "utf-8";

/* CSS Document */


/* Google Fonts */


/* latin-ext */

@font-face {
	font-family: 'Gruppo';
	font-style: normal;
	font-weight: 400;
	src: local('Gruppo'), url(https://fonts.gstatic.com/s/gruppo/v7/Z8_XBnSobhWOH0HWw-L2BPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */

@font-face {
	font-family: 'Gruppo';
	font-style: normal;
	font-weight: 400;
	src: local('Gruppo'), url(https://fonts.gstatic.com/s/gruppo/v7/EoL765IZSvUoJyAsw4h7ow.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


/* latin-ext */

@font-face {
	font-family: 'Libre Baskerville';
	font-style: normal;
	font-weight: 400;
	src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url(https://fonts.gstatic.com/s/librebaskerville/v4/pR0sBQVcY0JZc_ciXjFsKwHlCYWexZJCPRz1QQ0uKVU.woff2) format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */

@font-face {
	font-family: 'Libre Baskerville';
	font-style: normal;
	font-weight: 400;
	src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url(https://fonts.gstatic.com/s/librebaskerville/v4/pR0sBQVcY0JZc_ciXjFsK6Ucnt8gjcHpqyffjHeZWDA.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


/* cyrillic-ext */

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTa-j2U0lmluP9RWlSytm3ho.woff2) format('woff2');
	unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}


/* cyrillic */

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTZX5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2');
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}


/* greek-ext */

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTRWV49_lSm1NYrwo-zkhivY.woff2) format('woff2');
	unicode-range: U+1F00-1FFF;
}


/* greek */

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTaaRobkAwv3vxw3jMhVENGA.woff2) format('woff2');
	unicode-range: U+0370-03FF;
}


/* vietnamese */

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTf8zf_FOSsgRmwsS7Aa9k2w.woff2) format('woff2');
	unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}


/* latin-ext */

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTT0LW-43aMEzIO6XUTLjad8.woff2) format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


/* cyrillic-ext */

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/ek4gzZ-GeXAPcSbHtCeQI_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
	unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}


/* cyrillic */

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}


/* greek-ext */

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/-2n2p-_Y08sg57CNWQfKNvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
	unicode-range: U+1F00-1FFF;
}


/* greek */

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/u0TOpm082MNkS5K0Q4rhqvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
	unicode-range: U+0370-03FF;
}


/* vietnamese */

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/NdF9MtnOpLzo-noMoG0miPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
	unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}


/* latin-ext */

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/Fcx7Wwv8OzT71A3E1XOAjvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
	unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v15/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


/* Google Fonts */

menu {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	z-index: 10000;
	position: fixed;
	background: -webkit-linear-gradient(bottom, transparent 0, rgba(0, 0, 0, 0.7) 100%) repeat-x;
	background: linear-gradient(to top, transparent 0, rgba(0, 0, 0, 0.7) 100%) repeat-x;
}

html {
	height: 100%;
	overflow: auto;
}

body {
	display: block;
	overflow: auto;
	width: 100%;
	height: 100%;
	min-height: 427vh;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	padding-top: 0 !important;
}

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	background: rgb(12, 12, 12)
}

::-webkit-scrollbar-thumb {
	border-radius: 20px;
	background: rgba(255, 255, 255, 0.66);
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255, 255, 255, 0.2);
}

#main_header {
	display: block;
	height: 40px;
	line-height: 40px;
	padding-left: 40px;
	padding-right: 40px;
	background-color: rgba(0, 0, 0, 0.2);
	box-shadow: none;
}

#utilitybar {
	height: 100%;
	position: relative;
	width: 100%;
	margin: 0 auto;
	max-width: 1264px;
	font-weight: 300;
}

#utilitybar a:hover {
	color: rgb(177, 177, 280);
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
}

.header_btn {
	display: inline-block;
	float: left;
	margin-right: 20px;
	white-space: nowrap;
	font-size: 23px;
	font-family: Gruppo;
	font-weight: 500;
	-webkit-transition: color 0.5s;
	transition: color 0.5s;
	color: rgba(255, 255, 255, 0.66);
	text-decoration: none;
}

.contacts {
	display: inline-block;
	float: left;
	margin-right: 30px;
	white-space: nowrap;
	font-size: 16px;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
	color: rgba(255, 255, 255, 0.66);
}

.rvs {
	unicode-bidi: bidi-override;
	direction: rtl;
}

.social {
	display: inline-block;
	float: right;
	font-size: 16px;
	margin-left: 15px;
	white-space: nowrap;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
	color: rgba(255, 255, 255, 0.66);
}

.cont_ico {
	display: inline-block;
	float: left;
	margin-right: 7px;
	white-space: nowrap;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
	color: rgba(255, 255, 255, 0.66);
}

.soc_ico {
	display: inline-block;
	float: right;
	white-space: nowrap;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
	color: rgba(255, 255, 255, 0.66);
	text-decoration: none;
	padding-top: 10px;
}

#main_menu {
	width: 100%;
	height: 60px;
	display: block;
}

.main_menu_active:after {
	width: 100%;
}

nav {
	margin: 0 auto;
	overflow: hidden;
}

nav ul {
	margin: 0;
	padding-left: 0;
	margin-right: 100px;
	list-style: none;
	float: right;
	text-align: center;
	line-height: 60px;
}

nav ul li {
	display: inline-block;
	margin-left: 15px;
	margin-right: 15px;
	-webkit-transition: 0.3s linear;
	transition: 0.3s linear;
}

nav ul li a {
	text-decoration: none;
	display: block;
	position: relative;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
}

nav ul li a:after {
	content: "";
	width: 0;
	height: 2px;
	position: absolute;
	left: 0;
	top: 40px;
	background: white;
	-webkit-transition: all 0.5s linear;
	transition: all 0.5s linear;
}

nav ul li a:hover:after {
	width: 100%;
}

main {
	position: fixed;
}

sub_1 {
	top: 100vh;
	height: 85vh;
	z-index: 100;
}

sub_2 {
	top: 185vh;
	height: 75vh;
	z-index: 200;
}

sub_3 {
	top: 260vh;
	height: 65vh;
	z-index: 300;
}

sub_4 {
	top: 325vh;
	height: 55vh;
	z-index: 400;
}

sub_5 {
	top: 380vh;
	height: 45vh;
	z-index: 500;
}

.blck1 {
	overflow: hidden;
	position: absolute;
	width: 100%;
	background-color: #0c0c0c;
	box-shadow: 0 -10px 50px 50px rgb(12, 12, 12);
}

.blck2 {
	overflow: hidden;
	position: absolute;
	width: 100%;
	background-color: dimgrey;
	box-shadow: 0 -10px 30px 20px rgb(105, 105, 105);
}

.fixed {
	position: fixed;
}

.home_main {
	width: 100%;
	min-height: 250px;
	padding-top: 0 !important;
	padding-left: 0;
	padding-right: 0;
	position: inherit;
	height: 100%;
	background-color: rgba(0, 0, 0, 0);
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	z-index: 1;
}

#home_main_1 {
	background-image: url("/images/main_slide.png");
	opacity: 1;
	display: block;
}

#home_main_2 {
	background-image: url("/images/main_slide2.png");
	opacity: 1;
	z-index: 0;
}

.main_text {
	z-index: 1;
	max-width: 1000px;
	max-height: 200px;
	border-width: 0px;
	margin: 0 auto;
	padding: 0px;
	letter-spacing: 2px;
	font-size: 45px;
	text-align: center;
	color: white;
	text-transform: uppercase;
	position: fixed;
	font-weight: 300;
	font-family: Open Sans;
	top: 40vh;
	left: 50%;
	margin-right: -50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.main_text_sub {
	z-index: 6;
	border-width: 0px;
	margin: 0px;
	padding: 0px;
	margin-top: 30px;
	letter-spacing: 2px;
	font-size: 25px;
	font-weight: 600;
	color: white;
	text-transform: none;
	position: absolute;
	font-weight: 400;
	font-family: Libre Baskerville;
	font-style: italic;
	padding-right: 19px;
	left: 50%;
	margin-right: -50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.main_button {
	z-index: 7;
	border-width: 0px;
	margin: 0px;
	padding: 10px;
	margin-top: 60px;
	font-size: 30px;
	position: absolute;
	font-weight: 700;
	font-family: Roboto;
	font-style: normal;
	background: rgba(26, 169, 244, 0.75);
	border-radius: 10px;
	left: 50%;
	margin-right: -50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.main_button a {
	font-weight: 200;
	color: white;
	text-decoration: none;
	letter-spacing: 2px;
}

.main_button a:before {
	content: "☺";
}

.sub_set {
	opacity: 0;
	z-index: 2;
	width: 100%;
	height: 80vh;
	position: relative;
	text-align: center;
	font-size: 32px;
	font-weight: 500;
	padding-top: 10vh;
	font-family: Open Sans;
	color: white;
}

.sub_text1 {
	left: 30vw;
}

.sub_text2 {
	left: -30vw;
}

.sub_text3 {
	top: 30vh;
}

.sub_text4 {

}

.sub_text5 {
	top: 30vh;
}

@media (max-width: 615px) {
	.header_btn {
		position: fixed;
		left: 50%;
		-webkit-transform: translate(-50%);
		transform: translate(-50%);
	}
	#main_sub {
		margin-right: auto;
		position: fixed;
		left: 50%;
		-webkit-transform: translate(-50%);
		transform: translate(-50%);
		width: 100%;
	}
	.main_text {
		font-size: 35px;
	}
	.main_text_sub {
		font-size: 20px;
	}
	.main_button {
		font-size: 23px;
	}
	.contacts,
	.social,
	.cont_ico,
	.soc_ico {
		display: none !important;
	}
}
